selenium
lxml
asgiref
Django
djangorestframework
drf-yasg
inflection
mysqlclient
packaging
pytz
PyYAML
sqlparse
typing_extensions
tzdata
uritemplate
apscheduler

# for KoBART
boto3
pandas
pytorch-lightning == 1.2.1
torch == 1.7.1
transformers == 4.3.3